<div id="title" class="center" >
  <h1>Gestion Des Utilisateurs</h1>
  </div>
<div>
<button type="button"   data-toggle="modal" data-target="#form-add-personne" class=" btn btn btn-success"><i class="fa fa-plus"></i>Ajouter</button>
</div>
<div class="center " ><input class="input" matInput (keyup)="applyFilter($event)"  placeholder="Chercher une personne" #input></div>

<div class="center">
    
    <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">
      
        <!-- Name Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef> Prénom </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
      
           <!-- Name Column -->
           <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Cin">
            <th mat-header-cell *matHeaderCellDef> Cin </th>
            <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Adresse">
            <th mat-header-cell *matHeaderCellDef> Adresse </th>
            <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Activation">
            <th mat-header-cell *matHeaderCellDef> Activation </th>
            <td mat-cell *matCellDef="let element"> {{element.activation}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.libelle_Role}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="ServiceDepartment">
            <th mat-header-cell *matHeaderCellDef> Service Department </th>
            <td mat-cell *matCellDef="let element"> {{element.libelle_service}} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td  mat-cell *matCellDef="let element">
              <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
              <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
              
              </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
    </div>

    <div data-backdrop="false" class="modal fade" id="form-add-personne"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white ">
              <h5 class="modal-title" id="exampleModalLabel">Details du personne</h5>
              <button class="bg-white text-white" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="exform" class = 'normal-form' #PersonneAdd="ngForm" >
                    <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Prénom :</label>
                        <div class="col-sm-7">
                          <input formControlName="first_name" matInput name = "First_name"
                          [(ngModel)]="model.First_name" type="text"  class="form-control"  placeholder="Prénom">
                          <mat-error *ngIf="first_name?.invalid && first_name?.touched"> Entrez votre Prénom </mat-error>
                        </div>
                      </div> 
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Nom :</label>
                        <div class="col-sm-7">
                          <input  formControlName="last_name" matInput name = Last_name
                          [(ngModel)]="model.Last_name" type="text"  class="form-control"  placeholder="Nom">
                          <mat-error *ngIf="last_name?.invalid && last_name?.touched">Entrez votre nom  </mat-error>
                        </div>
                      </div> 
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Email :</label>
                        <div class="col-sm-7">
                          <input formControlName="login" matInput name = Login
                          [(ngModel)]="model.Login" type="text"  class="form-control"  placeholder="Email">
                          <mat-error *ngIf="login?.invalid && login?.touched">Email est requis </mat-error>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Mot de passe :</label>
                        <div class="col-sm-7">
                          <input formControlName="password" name="Password" [(ngModel)]="model.password" matInput [type]="hide ? 'password' : 'text'">
                          <i class="material-icons" matSuffix (click)="hide = !hide">
                            {{hide ? 'visibility':'visibility_off'}}
                          </i>
                          <mat-error *ngIf="password?.invalid && password?.touched">Entrez votre mot de passe </mat-error>
                        </div>
                      </div>
                     
                       <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Cin :</label>
                        <div class="col-sm-7">
                          <input formControlName="cin" matInput name = Cin
                          [(ngModel)]="model.Cin" type="text"  class="form-control"  placeholder="cin">
                          <mat-error *ngIf="cin?.invalid && cin?.touched">Cin est requis </mat-error>
                          <mat-error *ngIf="exform.controls['cin'].errors?.minlength">Minimum 8 caractères requis.</mat-error>
                          <mat-error *ngIf="exform.controls['cin'].errors?.maxlength">Maximum 8 caractères requis.</mat-error>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Adresse :</label>
                        <div class="col-sm-7">
                          <input formControlName="adresse" matInput name = Adresse
                          [(ngModel)]="model.Adresse" type="text" class="form-control"  placeholder="Adresse">
                          <mat-error *ngIf="adresse?.invalid && adresse?.touched">Adresse est requis </mat-error>
                        </div>
                      </div>
                
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Role :</label>
                        <div class="col-sm-7">
                          <select name = Role
                          [(ngModel)]="model.role" type="text" class="form-control"  >
                          <option value="">--Choisissez votre option--</option>
                          <option value="8bb087f4-b838-4056-8944-ffc22599fa9e">super admin</option>
                          <option value="responsable">responsable</option>
                          <option value=">employer">employer</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Service Department :</label>
                        <div class="col-sm-7">
                          <select name = ServiceDepartment
                          [(ngModel)]="model.service" type="text" class="form-control"  >
                          <option value="">--Choisissez votre option--</option>
                          <option value="07E5168F-EDCB-48A9-8CEC-3028315A63C7">marketing</option>
                          </select>
                        </div>
                      </div>
                  
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Activation :</label>
                        <div class="col-sm-7">
                          <input name = Activation
                          [(ngModel)]="model.Activation" type="checkbox" class="form-control"  >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" [disabled]="exform.invalid">Ajouter personne</button>
                      </div>
                   
                  </form>
            </div>
          
          </div>
        </div>
  